body {
	margin: 0;
	font-family: Roboto !important;
}

.container {
	width: 100% !important;
	padding: 0 !important;
}

.main {
	padding: 15px;
	padding-top: 80px;
}

.nav-item, .nav-item:hover {
	text-decoration: none;
}

.post-list > div {
	display: block;
	margin: auto;
}

.post {
	min-width: 350px;
	max-width: 650px;
}

.upload {
	width: 100%;
	height: 150px;
	margin: auto;
	border: dashed grey;
	line-height: 150px;
	text-align: center;
}